apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-jkvaktkw
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-jkvaktkw:375b79ed40714e61554fc7d3401a3bdbaca49712@sha256:ff85f57fa579e6d24a867d3d8c3772c8a7bc7970eabef9a8c84fcfe2cd48bf0f
          name: container-image
